<a routerLink="/add" routerLinkActive="active">Add Student</a>
<table>
    <thead>    
        <th>No.</th>  
        <th>First Name</th>
        <th>Last Name</th>  
        <th>Age</th>
        <th>Email</th>
        <th>Edit | Delete</th>
    </thead>
    <tbody>      
        <tr *ngFor = "let stud of student">   
            <td>{{stud.id}}</td>  
            <td>{{stud.firstName}}</td> 
            <td>{{stud.lastName}}</td>  
            <td>{{stud.email}}</td> 
            <td>{{stud.age}}</td>   
            <td><button (click)="updateStudent(stud.id)"> Edit </button> | <button (click)="deleteStudent(stud.id)"> Delete</button> 
                <a [routerLink]="['/add', stud.id]"> Edit </a> </td>
                <td><a
                    [routerLink]="['/add']"
                    [queryParams]="{ id: stud.id}"
                  >
                    Edit
                  </a></td>
        </tr>
    </tbody>
</table>